@import 'normalize.css';
@import 'icons.css';


/* f06449-ede6e3-dadad9-36382e-5bc3eb */
/* vars */
:root {
    --main-red: #f06449;
    --main-gray: #ede6e3;
    --main-gray-lt: #dadad9;
    --main-gray-dk: #36382e;
    --main-blue: #5bc3eb;
}

/* html elements */
body {
    font-family: 'Thasadith', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
    color: var(--main-gray-dk);
    margin-bottom: 0;
    text-transform: uppercase;
}
section {
    margin-bottom: 40px;
}

/* header */
header {
    background-color: var(--main-gray-dk);
    padding: 40px;
    margin-bottom: 50px;
}
header h1{
    color: white;
    text-align: center;
}
.wrapper {
    margin-bottom: 50px;
}

/* schedule table */
.schedule-wrapper .card-header {
    background-color: var(--main-blue);
}
.schedule-wrapper .card-header h2 {
    color: var(--main-gray-dk);
    text-shadow: -1px -1px white;
}


table.schedule {
    width: 100%;
}
table.schedule th {
    font-weight: bold;
}
table.schedule th.wide {
    width: 25%;
}
table.schedule .centered {
    text-align: center;
}

td button {
    border-radius: 2px;
    color: white;
    cursor: pointer;
    padding: 4px;
    line-height: 1;
    font-size: 0.9em;
    border: none;
}
button.edit {
    background-color: var(--main-blue);
    margin-right: 10px;
}
button.remove {
    background-color: var(--main-red);
}
button.edit:hover {
    background-color: var(--main-gray-dk);
}
button.remove:hover {
    background-color: var(--main-gray-dk);
}

.success {
    position: fixed;
    top: 30px;
    left: 25%;
    width: 50%;
    z-index: 10;
}

span.required {
    color: red;
}
.btn.submit {
    color: white;
    background-color: var(--main-blue);
}


/* footer */
footer {
    background-color: var(--main-blue);
    color: var(--main-gray-lt);
    height: 40px;
    line-height: 2.4;
    text-align: center;
}


/* modal */
.modal {
	position: fixed; 
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgba(0,0,0,0.4);     
}
.modal-content {
    background-color: #fefefe;
    margin: 138px auto 0; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
}
.modal-title {
    border-bottom: 1px solid #ccc;
}
.modal_close {
    color: #aaa;
    float: right;
    font-size: 48px;
    font-weight: bold;
}
.modal_close:hover,
.modal_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}